<buttons>
    <button>
        <!-- Keyboard shortcuts -->
        <!-- Python script -->
        <!-- Shell command -->
    </button>
    <button name="Test" icon="Images\Test.png">
        <shortcut keys="H+E+L+L+O+SPACE+W+O+R+L+D" />
    </button>
<!--    <button name="Test Script" icon="Images\Test_script.png">-->

<!--        &lt;!&ndash; Assumed python 3 &ndash;&gt;-->
<!--        <script language="Python" path="Scripts\test_script.py" />-->
<!--        <script language="windows_batch" path="Script\test_batch_file.bat" />-->
<!--    </button>-->
<!--    <button name="Test Batch Command" icon="Images\Test_command.png">-->
<!--        <command text="start www.google.com" />-->
<!--    </button>-->
</buttons>

