<buttons>
    <button>
        <!-- Keyboard shortcuts -->
        <!-- Python script -->
        <!-- Shell command -->
    </button>
    <button name="Test" icon="Images\Test.png">
        <shortcut keys="CTRL+ALT+DEL" />
    </button>
    <button name="Test Script" icon="Images\Test_script.png">

        <!-- Assumed python 3 -->
        <script language="Python" path="Scripts\test_script.py" />
        <script language="windows_batch" path="Script\test_batch_file.bat" />
    </button>
    <button name="Test Batch Command" type="COMMAND">
        <command text="start www.google.com" />
    </button>
</buttons>

